

/* LP */

.article-post{
  width: 1000px;
  margin: auto;
}

.index-prof{
 height: 30px;
 width: 30px;
 border-radius: 50%;
 padding: 2px;
}
.prof-edit{
 text-align: center;
}


.prof-edit-image{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.index-nikki-title{
  font-size: 70px;
}

.index-image{
  background-image: url(https://res.cloudinary.com/uoyaryotanikki/image/upload/v1604804370/lrv5eqdllowee50ogxe9.jpg);
  background-size:cover;
  width: 100%;
  height: 500px;
}
.form-control{
  display: block;
    width: 100%;
    height: calc(2.19rem + 2px);
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.clear::after{
  content:"";
  clear: both;
  display: block;
}

.login-back-image{
 color: black;
 background-size:cover;
 background-repeat: no-repeat;
}


.title{
  opacity:0;
  animation-name: Feature; 
  animation-duration: 5s; 
  animation-iteration-count:2;
  animation-fill-mode: forwards; 
}

@keyframes Feature {
  0% {
    opacity: 0;
    color:white;
  }
  90% {
   opacity: 1;
   color:grey;
  }
   100% {
    opacity: 1;
    color:black;
  } 
  }


.card-box{
  justify-content: space-around;
}
div.card-box div.card {
  transition:box-shadow 0.3s, transform 0.3s;
}

div.card-box div.card:hover {
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
  transform:translate(0, -2px);
}


.index-card {
  transition:box-shadow 0.3s, transform 0.3s;
}

.index-card:hover {
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
  transform:translate(0, -2px);
}

.card-img-top{
  width:100%;
  height: 286px;
  background-size: cover;
}



.submit{
  margin:100px;
  padding-left: 160px;
}

#how{
  margin:100px;
}
/* BTN CSS */
.nav-link{
  color:black !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.nav-link:hover{
  background-color: transparent;
  border: 2px solid black;
  color:black !important;
  border-radius: 10px;
}

.submit-btn{
  background: transparent;
  color: #3169d1 !important;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  background: -webkit-linear-gradient(180deg, rgba(49,105,209,0.8), rgba(132, 179, 252, 0.8), rgba(205, 200, 252, 0), rgba(205, 200, 252, 0));
  background: -webkit-linear-gradient(right, rgba(49,105,209,0.8), rgba(132, 179, 252, 0.8), rgba(205, 200, 252, 0), rgba(205, 200, 252, 0));
  background: linear-gradient(270deg, rgba(49,105,209,0.8), rgba(132, 179, 252, 0.8), rgba(205, 200, 252, 0), rgba(205, 200, 252, 0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  border: none;
  border: 1px solid #3169d1;
  border-radius: 10px;
  padding: 10px 30px;
}

.login-btn{
  padding: 15px 100px;
  margin-right:120px ;
}

.submit-btn:hover{
  background-position: 99% 50%;
  color: #fff !important;
  border: 1px solid rgba(205, 200, 252, 0);
}

section{
  margin:100px 0px;
}

.section-message{
  margin-top:500px;
}

.how-to-use{
  margin-top:100px;
  margin-left: 50px;
}
.how-to-use2{
  margin-top:200px;
  margin-left: 50px;
}
.clear::after{
  content:"";
  clear: both;
  display: block;
}


.logo{
  height:35px;
  width:120px;
  object-fit: cover;
}

.lp-photo{
  height:300px;
  width:500px;
  object-fit: cover;
}

.btn-outline-light {
    background-color: white;
    border: 2px solid white;
    color:black !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-outline-light:hover{
  background-color: black;
  border: 2px solid black;
  color: white !important;
  border-radius: 20px;
}

.card-title{
  color:black;
}

.title-message{
  opacity:0;
  animation-name: NIKKI; 
  animation-duration: 5s; 
  animation-iteration-count:2;
  animation-fill-mode: forwards; 
}

@keyframes NIKKI {
  0% {
    opacity: 0;
    color:white;
  }

   100% {
    opacity: 1;
    text-shadow:0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black,0 0 1px black;
  } 
  }

.comment.row{
  border: solid 2px black;
  border-radius: 3px;
}


.dark-overlay{
  background-image: url(https://res.cloudinary.com/uoyaryotanikki/image/upload/v1604410916/touxwsqxtilwqbkkjhyb.jpg);  
  margin-top:100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.item-boxes{
  margin-top: 50px;
}


.btn.flat-border{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.down-to-top {
  opacity: 0.1;
  transform: translateY(20px);
  transition: all 1s;
}
.down-to-top.scrollin {
  opacity: 1;
  transform: translateY(0);
}


.img-wrap {
  width: 800px;
  position: relative;
}

.img-wrap img {
  width:100%;
  max-width: 500px;
  position: absolute;    
  height: 300px;
}

.img-wrap2 {
  width: 800px;
  position: relative;
}

.img-wrap2 img {
  width:100%;
  max-width: 500px;
  position: absolute;    
  height: 300px;
}

.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url(/img/emma-simpson-mNGaaLeWEp0-unsplash.jpg);   /* 背景の画像を指定 */
  background-size: cover;
  height: 700px;
}
.box .src2 {
  background-image : url(/img/mathew-schwartz-8rj4sz9YLCI-unsplash.jpg);   /* 背景の画像を指定 */
  animation-delay  : 5s;
  background-size: cover;
  height: 700px;
}
.box .src3 {
  background-image : url(/img/online-marketing-hIgeoQjS_iE-unsplash.jpg);   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-size: cover;
  height: 700px;
}
.box .src4 {
  background-image : url(/img/jesper-aggergaard-CEM52sAHR80-unsplash.jpg);   /* 背景の画像を指定 */
  animation-delay  : 15s;
  background-size: cover;
  height: 700px;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}


.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}
.scroll-btn a {
background: #666 !important;
text-decoration: none;
color: #fff;
width: 100px;
padding: 30px 0;
text-align: center;
display: block;
border-radius: 5px;
}

.scroll-btn a:hover {
text-decoration: none;
background: #999;
}


#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
  z-index: 10;
}
#page-top a {
background: #666;
text-decoration: none;
color: #fff;
width: 100px;
padding: 30px 0;
text-align: center;
display: block;
border-radius: 5px;
}

#page-top a:hover {
text-decoration: none;
background: #999;
}




/* article.index */

home-card {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
}

.card-body{
  background-color: whitesmoke;
}

.card-title a{
  color: gray;
}
.postlist-title a{
  color: gray;
}

.home-card-title{
  font-size: 20px;
  font-weight: bold;
  font-family:Roboto;
}

.card-01 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

}

